body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #242427, #3d446b, #251d3b);
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #1f29375b;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease forwards;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


header h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #fff;
}

body .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    color: #6366f1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #a855f7;
}

main {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
    animation: fadeIn 1s ease forwards, fadeInUp 0.5s ease;
    transform: translateY(20px);
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: #ddd;
    animation: fadeIn 1s ease forwards, fadeInUp 0.5s ease 0.2s;
    transform: translateY(20px);
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.875rem;
    color: #9ca3af;
    border-top: 1px solid #4a5568;
    margin-top: 4rem;
    animation: fadeIn 1s ease forwards, slideInUp 0.5s ease 0.8s;
    transform: translateY(20px);
}

.about-us-content {
    margin-top: 2rem;
}

.about-us-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: left;
    animation: fadeIn 1s ease forwards, fadeInUp 0.5s ease 0.4s;
    transform: translateY(20px);
}

.about-us-content p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: #ddd;
    animation: fadeIn 1s ease forwards, fadeInUp 0.5s ease 0.6s;
    transform: translateY(20px);
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a855f7;
}

.tech-info {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #2d37483f;
    border-radius: 0.5rem;
    border: 1px solid #4a5568;
    animation: fadeIn 1s ease forwards, slideInLeft 0.5s ease 0.3s;
    transform: translateX(-20px);
}

.tech-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}

.tech-info ul {
    list-style: disc;
    padding-left: 2rem;
    margin: 0 0 1rem 0;
}

.tech-info ul li {
    margin-bottom: 0.75rem;
    color: #ddd;
    font-size: 1rem;
    line-height: 1.5rem;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    animation: fadeIn 1s ease forwards;
}

.image-container {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: zoomIn 0.5s ease, fadeIn 1s ease forwards;
    transform: scale(0.9);
}

.image-container:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.image-container img {
    width: 100%;
}

.image-container p {
    text-align: center;
    font-size: 0.875rem;
    color: #9ca3af;
    margin-top: 0.5rem;
}




.scrollable-images-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1rem;
    margin-top: 2rem;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-images-container:active {
    cursor: grabbing;
}

.scrollable-images-container::-webkit-scrollbar {
    display: none;
}

.scrollable-images-container::-webkit-scrollbar-track {
    background: #4a5568;
    border-radius: 0.5rem;
}

.scrollable-images-container::-webkit-scrollbar-thumb {
    background: #a0aec0;
    border-radius: 0.5rem;
}

.scrollable-images-container::-webkit-scrollbar-thumb:hover {
    background: #718096;
}





.scrollable-images-wrapper {
    display: flex;

    /* Use flexbox to arrange images horizontally */
    align-content: center;
    padding-left: 3rem;
}

.scrollable-image-container {
    flex: 0 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 200px;
    margin-right: 3rem;

    img {
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
    }
}

.scrollable-image-container:last-child {
    margin-right: 0;
    /* Remove right margin from the last image */
}


@media (max-width: 768px) {
    .container {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .image-container {
        flex: 100%;
        margin-right: 0;
    }

    .scrollable-images-wrapper {
        display: block;
        /* Use flexbox to arrange images horizontally */
 
    }
}